doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title TITIK SERU!!!
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css")
    style.
      body { background-color: #ffffff; }
      .navbar-brand { font-weight: bold; }
      
      /* Perbaikan: Menggunakan media query yang benar untuk HP */
      @media (max-width: 576px) {
          .btn-sm {
              padding: 0.4rem;
              font-size: 0.7rem;
          }
          #productTable {
              font-size: 0.8rem;
          }
          .navbar-brand { font-size: 1.1rem; }
      }

      /* Agar tabel bisa di-scroll ke samping di HP */
      .table-responsive {
          border: 0;
          overflow-x: auto;
      }
      .clickable-row {
          transition: background-color 0.1s ease;
          -webkit-tap-highlight-color: transparent;
      }

      .clickable-row:active {
          background-color: #e2e6ea !important; /* Warna saat jari menekan baris */
      }

      .clickable-row:hover {
          background-color: #f8f9fa;
      }

      /* Memperbesar jarak baris di HP agar mudah di-tap jari */
      @media (max-width: 576px) {
          #productTable td {
              padding-top: 15px;
              padding-bottom: 15px;
              vertical-align: middle;
          }
      }
  body
    // Ganti navbar-dark menjadi navbar-light karena background putih (text1)
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.mb-4.shadow-sm
      div.container-fluid
        a.navbar-brand.d-flex.align-items-center(href="/")
          img.d-inline-block.align-text-top.me-2(src="/images/titik.png" style="height: 50px; width: auto; border-radius: 50%; object-fit: cover;")
          span Kasir
        
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/") Kasir
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown") Admin Panel
              ul.dropdown-menu.dropdown-menu-end
                li: a.dropdown-item(href="/admin") Update Stok & Barang
                li: a.dropdown-item(href="/admin/laporan") Laporan Penjualan
    
    // Gunakan container-fluid agar lebih luas di layar kecil
    div.container-fluid
      block content

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")